*{
    margin-bottom: 0%;
    
}
body{
    background-color: pink;
}
h1{
    color: gray;
    text-align: center;
    margin-top: 20px;
}

span{
    font-weight: bold;
}

main{
    width: auto;
    background-color: gray;
}

.busqueda{

align-items: center;
}

.card{
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-1{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 500px;
}
.card-error{
    height: 200px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    box-shadow: 0 0 2px 2px;
    align-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;
}

h2{
    text-align: center;
}


#cartMessage {
    position: fixed; /* Hacer que el elemento esté fijo en la ventana del navegador */
    top: 20px; /* Distancia desde arriba */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    z-index: 999; /* Asegurarse de que esté por encima de otros elementos */
}

  /* Estilos para el botón de carrito */
#cartButton {
    position: fixed; /* Hacer que el elemento esté fijo en la ventana del navegador */
    top: 70px; /* Distancia desde arriba */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    z-index: 999; /* Asegurarse de que esté por encima de otros elementos */
}

footer{
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}

#cartContainer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

#cartList {
    list-style-type: none;
    padding: 0;
}

#cartList li {
    margin-bottom: 10px;
}

#totalAmount {
    font-weight: bold;
    margin-top: 10px;
}

#continueShoppingBtn,
#checkoutBtn {
    display: block;
    width: 100%;
    margin-top: 10px;
}

#continueShoppingBtn {
    background-color: #007bff;
    color: #fff;
}

#checkoutBtn {
    background-color: #28a745;
    color: #fff;
}

#continueShoppingBtn:hover,
#checkoutBtn:hover {
    background-color: #0056b3;
}

#checkoutBtn:hover {
    background-color: #218838;
}